<h1>View Item's <%= pluralize(@lists.count, "Lists") %></h1>
<table class="table table-striped">
	<thead>
		<tr>
			<th scope="col">Name</th>
			<th scope="col">Store</th>
			<th scope="col">Date</th>
		</tr>
	</thead>
	<tbody>
		<% @lists.each do |list| %>
		<tr>
			<td><%= list.name %></td>
			<td><%= list.store %></td>
			<td><%= list.date %></td>
		</tr>
		<% end %>
	</tbody>
</table>
<a href="/items">View Items</a>